* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #aaa;
}

body, input, button {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}