@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 50%;
}

.hPage {
  background-color: #8080bb;
  color: #eee;
}

p {
  font-size: 2rem;
  line-height: 3rem;
}

.container {
  font-family: "Open Sans", sans-serif;
}

.body1 {
  padding-left: 0.3rem;
  text-align: left;
}
